{% load staticfiles %}

<html lang="en">
    <head>
        <title>Homeconomics</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        {% block content_css %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <a href="http://127.0.0.1:8000"><img id="logo" src="{% static "img/logo.jpg" %}"></a>
            <a href="http://127.0.0.1:8000"><h2>HOMECONOMICS</h2></a>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:8000/services">Services</a></li>
                    <li><a href="http://127.0.0.1:8000/stock">Stock</a></li>
                </ul>
            </nav>
        </div>

        <div id="container">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <div id="social">
                <a href="https://facebook.com/eguitler" target="_blank"><img src="{% static "social/facebook.png" %}"></a>
                <a href="https://twitter.com/eguitler" target="_blank"><img src="{% static "social/twitter.png" %}"></a>
                <a href="https://instagram.com/eguitler" target="_blank"><img src="{% static "social/instagram.png" %}"></a>
                <a href="https://ar.linkedin.com/in/eguitler" target="_blank"><img src="{% static "social/linkedin.png" %}"></a>
                <a href="https://youtube.com/eguitler" target="_blank"><img src="{% static "social/youtube.png" %}"></a>
                <a href="https://plus.google.com/+EzequielGuitler" target="_blank"><img src="{% static "social/google-plus.png" %}"></a> 
            </div>
            <div id="icons_license">
                <p>
                    Icons made by <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> 
                    from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> 
                    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                </p>
                <p>Copiright &copy;. All rights reserved. Web made by Ezequiel Guitler.</p>
            </div>
        </div>
    </body>
</html>
