{% extends "base.html" %}
{% load staticfiles %}

{% block content_css %}
    <link rel="stylesheet" href="{% static "css/services.css" %}" />
{% endblock %}

{% block content %}
    <form method="get" action="addservice">
	{% csrf_token %}
        <button action="submit">Add Service</button>
    </form>
    <table border="1">
        <tr>
            <td>Service</td>
            <td>{{ months.0 }}</td>
            <td>{{ months.1 }}</td>
            <td>{{ months.2 }}</td>
            <td>{{ months.3 }}</td>
            <td>{{ months.4 }}</td>
            <td>{{ months.5 }}</td>
        </tr>
        {% for s in services %}
            <tr>
                <td>{{ s.0 }}</td>
               <td><p>${{ s.1.0 }}</p></td>
               <td><p>${{ s.1.1 }}</p></td>
               <td background=green><p>${{ s.1.2 }}</p></td>
               <td><p>${{ s.1.3 }}</p></td>
               <td><p>${{ s.1.4 }}</p></td>
                <td>
                    <form method="post" action="">
                        {% csrf_token %}
                        <button name="remove" value={{i.id}}>Remove</button>
                        <button name="modify" value={{i.id}}>Modify</button>
                        <button name="info" value={{i.id}}>Info</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>${{ totals.0 }}</td>
            <td>${{ totals.1 }}</td>
            <td>${{ totals.2 }}</td>
            <td>${{ totals.3 }}</td>
            <td>${{ totals.4 }}</td>
        </tr>
    </table>
{% endblock %}
